.mono-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #52525b #09090b;
}

.mono-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.mono-scrollbar::-webkit-scrollbar-track {
  background: #09090b;
}

.mono-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
  border-radius: 9999px;
  border: 2px solid #09090b;
}

.mono-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #52525b;
}
